<% provide(:title, "Contact Us") %>
<div class="container contact">

    <div class="contact-region" style="text-align:center; margin-left: 10%; margin-right: 10%; margin-top: 2%; margin-bottom: 2%; display: block; ">
       <br>  <h4>Contact Form</h1> <br> <br>
          <form>
            <div class="contact_name_icon_div" style="display: flex;">
              <div class="contact_usename_icon" style="width:10%">
                <br> <i class="material-icons contact_name">person</i>
              </div>
              <div class="contact_name_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black;">Nome</a> <input type="text" name="contact_name" id="contact_name_text_field" placeholder="  Your Name"></div>
              </div>
            </div>
            <div class="contact_email_icon_div" style="display: flex;">
              <div class="contact_email_icon" style="width:10%">
                <br> <i class="material-icons contact_email">mail</i>
              </div>
              <div class="contact_email_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black;">Email</a> <input type="email" name="emailll" id="contact_email_text_field" placeholder="  name@unb.br"></div>
              </div>
            </div>
            <div class="contact_subject_icon_div" style="display: flex;">
              <div class="contact_subject_icon" style="width:10%">
                <br> <i class="material-icons contact_subject">create</i>
              </div>
              <div class="contact_password_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black; ">Subject</a> <input type="text" name="subject" id="contact_subject_text_field" placeholder="  Your Suject"></div>
              </div>
            </div>
            <div class="contact_message_icon_div" style="display: flex;">
              <div class="contact_message_icon" style="width:10%">
                <br> <i class="material-icons contact_message">chat</i>
              </div>
              <div class="contact_message_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black; ">Message</a><textarea id="contact_message_text_field" name="message" placeholder="  Your Message ... "></textarea></div>
              </div>
            </div>
            <br>
            <div class="submit-button_div"><input type="submit" value="Submit" class="submit-button"></div>
          </form>

          <br>
    </div>


      <br>
    </div>
</div>
