<% provide(:title, "Home") %>
<div class="container">
  <h1>Home</h1>

  <p align="center"><font size="4"><b>Resumo</b></font></p>
  <hr>
  <p>
  </p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  FPGAs são dispositivos extremamente importantes para o desenvolvimento da eletrônica digital, pois permitem a construção e prototipação de diversos circuitos digitais de lógica simples ou complexa.  Entretanto, possuem um alto custo de aquisição. Esse fator no meio acadêmico é extremamente sensível, pois não é qualquer pesquisador/aluno que consegue adquirir um hardware desses. Além disso, quando adquiridos, não são colocados á disposição de qualquer usuário, justamente pelo seu alto valor. Do ponto de vista de ensino, a demanda de uso de FPGAs é grande. Alunos querem poder prototipar seus experimentos em horários livres, fora da sala de aula. Do ponto de vista acadêmico, ser capaz de utilizar dispositivos à distancia, permite colaboração entre pesquisadores de diferentes instituições. Diante desses problemas, um estudo foi feito e uma solução elaborada: desenvolver um sistema onde as FPGAs são controladas por uma aplicação web, tornando disponíveis equipamentos programáveis de alto custo de aquisição à alunos e pesquisadores, de maneira prática, dispensando a necessidade de presença física no laboratório por eles, processos burocráticos de empréstimos de equipamentos e configurações de drivers e softwares. Além disso, aumenta-se a disponibilidade dos equipamentos, fornecendo serviço, em feriados, finais de semana, madrugadas e outros horários pouco acessíveis, em plenitude, à comunidade acadêmica.
  </div>
