<% provide(:title, "Login") %>
<div class="container login">

    <div class="login-region" style="text-align:center; margin-left: 10%; margin-right: 10%; margin-top: 2%; margin-bottom: 2%; display: block; ">
       <br>  <h4>Login</h1> <br> <br>
          <form>
            <div class="login_email_icon_div" style="display: flex;">
              <div class="login_email_icon" style="width:10%">
                <br> <i class="material-icons login_email">mail</i>
              </div>
              <div class="login_email_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black;">Email</a> <input type="email" name="email" id="login_email_text_field" placeholder="  name@unb.br"></div>
              </div>
            </div>
            <div class="login_password_icon_div" style="display: flex;">
              <div class="login_password_icon" style="width:10%">
                <br> <i class="material-icons login_password">lock</i>
              </div>
              <div class="login_password_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black; ">Password</a> <input type="password" name="password" id="login_password_text_field" placeholder="  Password"></div>
              </div>
            </div>
            <br>
            <div class="login_show_password_div" style="display: flex;">
              <div class="login_show_password_check" style="width:10%">
                <i class="material-icons show_pass right" style="margin-right:5px;">check_box_outline_blank</i>
              </div>
              <div class="login_password_show_div" style="width:80%;">
                <a style="float: left; color: black; ">Show Password</a>
              </div>
            </div>
            <br>
            <div class="login_submit_button_div"><input type="submit" value="Login" class="submit-button"></div>
          </form>
          <a>Forgot your password?</a>
          <br><br><br>
    </div>

    <div class="have_account" style="margin-left: 10%; margin-right: 10%; margin-bottom: 2%">
      <br>
      <a style="color: black;">Don't have an account? </a><a>Sign Up</a>
      <br>
      <br>
    </div>
</div>
