<% provide(:title, "Sign Up") %>
<div class="container signup">

    <div class="signup-region" style="text-align:center; margin-left: 10%; margin-right: 10%; margin-top: 2%; margin-bottom: 2%; display: block; ">
       <br>  <h4>Sign Up</h1> <br> <br>
          <form>
            <div class="signup_usename_icon_div" style="display: flex;">
              <div class="signup_usename_icon" style="width:10%">
                <br> <i class="material-icons signup_username">person</i>
              </div>
              <div class="signup_username_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black;">Username</a> <input type="text" name="username" id="signup_username_text_field" placeholder="  Username"></div>
              </div>
            </div>
            <div class="signup_email_icon_div" style="display: flex;">
              <div class="signup_email_icon" style="width:10%">
                <br> <i class="material-icons signup_email">mail</i>
              </div>
              <div class="signup_email_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black;">Email</a> <input type="email" name="emaill" id="signup_email_text_field" placeholder="  name@unb.br"></div>
              </div>
            </div>
            <div class="signup_password_icon_div" style="display: flex;">
              <div class="signup_password_icon" style="width:10%">
                <br> <i class="material-icons signup_password">lock</i>
              </div>
              <div class="signup_password_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black; ">Password</a> <input type="password" name="passwordd" id="signup_password_text_field" placeholder="  Password"></div>
              </div>
            </div>
            <div class="signup_password_c_icon_div" style="display: flex;">
              <div class="signup_password_c_icon" style="width:10%">
                <br> <i class="material-icons signup_password_c">lock_outline</i>
              </div>
              <div class="signup_password_c_text_field_div" style="width:80%;">
                <div><a style="float: left; color: black; ">Confirm Password</a> <input type="password" name="password_c" id="signup_password_c_text_field" placeholder="  Confirm Password"></div>
              </div>
            </div>
            <br>
            <div class="submit-button_div"><input type="submit" value="Sign Up" class="submit-button"></div>
          </form>

          <br>
    </div>

    <div class="have_an_account" style="margin-left: 10%; margin-right: 10%; margin-bottom: 2%">
      <br>
      <a style="color: black;">Have an account? </a><a>Login</a>
      <br>
      <br>
    </div>
</div>
