<div class="container contact">

  <%= render 'form', seat: @seat %>

  <div class="have_an_account" style="margin-left: 10%; margin-right: 10%; margin-bottom: 2%; border: 0; text-align : left;">
    <%= link_to "<i class=\"material-icons\">arrow_back</i>".html_safe, seats_path, style: "text-align : left;" %>
    </div>

</div>
