<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">UIFPGARC</h5>
        <p class="grey-text text-lighten-4">Aqui vai um texto sobre o projeto</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to 'Início', root_path  %></li>
          <li><%= link_to 'Sobre', about_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Sistema Controlador de FPGA Remota // Luan Talles
    </div>
  </div>
</footer>
